<p class="main-text">Tere Tulemast minu lehele!</p>
<div class="rectangle"></div>
<div class="main-link-list">
    <div class="main-link" routerLink="work">
        <img src="assets\bee-45792_1280.png">
        <p>Tööde lehele</p>
    </div>
    <div class="main-link" routerLink="hobbies">
        <img src="assets\pexels-anete-lusina-5247969.jpg">
        <p>Hobide lehele</p>
    </div>
    <div class="main-link" routerLink="courses">
        <img src="assets\pexels-arthur-brognoli-2260935.jpg">
        <p>Kursuste lehele</p>
    </div>
<div class="facebook-nupp" href="https://www.facebook.com/oliver.joandi/">
    <img src="src\assets\facebook.png">
    <span>Facebook</span>
</div>
<div class="twitter-nupp" href="https://twitter.com/">
    <img src="src\assets\twitter.png">
    <span>Twitter</span>
</div>
